.main-container {
    border-style: dotted;
    border-width: 4px;
    border-color: purple;

    padding: 6px;

    background: #FF00FF;
}

strong, em {
    border-style: solid;
    border-width: 0px;
    border-color: pink;
}

em {
    color: purple;
}

hr {
  margin: 30px 0;
}

.secondary-container {
{

}
.styled {
  /* Targets ANY element with the "styled" class. */
   color: purple;
}

p.styled {
  /* Targets ONLY paragraphs with the "styled" class. */
   border: 2px solid teal;
}
