/* This is what the whole background besides the containers will be. */
body {
   background-color: #9932CC;
   padding: 10px;
}
/* This is the main-container */
.main-container {
    border-style: dotted;
    border-width: 12px;
    border-color: pink;

    padding: 12px;
    background: #fffc37;
}
h1 {
  color: purple
}

strong, em {
    border-style: solid;
    border-width: 0px;
    border-color: pink;
}

em {
    color: purple;
}

hr {
  margin: 30px 0;
}
/* This is the second part of the page. */
.secondary-container {
  border-style: solid;
  border-width: 10px;
  border-color: pink;

  padding: 10px;
  background: #fffc37;
}
h1 {
color: pink
}
