.main-container {
    border-style: solid;
    border-width: 4px;
    border-color: purple;

    padding: 6px;

    background: #FF00FF;
}

strong, em {
    border-style: solid;
    border-width: 0px;
    border-color: pink;
}

em {
    color: purple;
}

hr {
  margin: 30px 0;
}

.secondary-container {

}
