.main-container {
    border-style: dotted;
    border-width: 6px;
    border-color: purple;

    padding: 10px;
    background: #fffc37;
}
h1 {
  color: purple
}

strong, em {
    border-style: solid;
    border-width: 0px;
    border-color: pink;
}

em {
    color: purple;
}

hr {
  margin: 30px 0;
}

.secondary-container {
  border-style: solid;
  border-width: 10px;
  border-color: purple;

  padding: 10px;
  background: #fffc37;
}
h1 {
color: purple
}
