#main-container {
    border-style: solid;
    border-width: 5px;
    border-color: orange;
    padding: 20px;
    background-color: #4b0066;
    color: #fff;
}
p {
  font-family: 'SourceSerifPro';
  font-size: 1em;
  color: darkorange;
  text-align: center;
  margin: 0.5em;
}

@font-face {
font-family: 'Playfair Display';
src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'SourceSerifPro';
src: url('../fonts/SourceSerifPro-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}

h1 {
   color: darkorange;
   size: 2em;
}
.one {
   font-family: 'Playfair Display', sans-serif;
   font-weight: normal;
   font-style: bold;
}
h2 {
  color: darkorange;
  size: 2em
}
.one {
   font-family: 'Playfair Display', sans-serif;
   font-weight: normal;
   font-style: italic;
}
h3 {
  color: darkorange;
  size: 2em
}
.one {
   font-family: 'Playfair Display', sans-serif;
   font-weight: normal;
   font-style: normal;
 }
a {
  text-decoration: none;
  color: orange;
}
a:hover {
  color: white;
}
a:visited {
  color: #0000ff;
}
