#main-container {
    border-style: solid;
    border-width: 10px;
    border-color: orange;
    padding: 20px;
    background-color: #4b0066;
    color: #fff;
}
@font-face {
font-family: 'Playfair Display';
src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'SourceSerifPro';
src: url('../fonts/SourceSerifPro-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}

h1 {
   color: darkorange;
   size: 2em;
}
body {
   font-family: 'Playfair Display', sans-serif;
}
h1 {
  font-weight: bold;
  text-align: center;
  font-style: normal;
}
h2 {
  color: darkorange;
  size: 2em
}
.two {
   font-family: 'Playfair Display', sans-serif;
   font-weight: normal;
   text-align: center;
   font-style: italic;
}
h3 {
  color: darkorange;
  size: 2em
}
.three {
   font-family: 'Playfair Display', sans-serif;
   font-weight: normal;
   text-align: center;
   font-style: normal;
 }
a {
  text-decoration: none;
  color: orange;
}
a:hover {
  color: red;
}
a:visited {
  color: #darkorange;
}
