#main-container {
    border-style: solid;
    border-width: 5px;
    border-color: orange;
    padding: 20px;
    background-color: #4b0066;
    color: #fff;
}

a {
  text-decoration: none;
  color: orange;
}

a:hover {
  color: white;
}

a:visited {
  color: #0000ff;
}
